html{
  /* background-image: url("./1.jpg"); */
  max-height: 10%;
}

body { 
  margin: 0; 
  width: auto;

  padding: 0rem;
  overflow-x: hidden;
  margin-top: 0rem;
}

/* Navigation bar CSS */

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  /* height: 0.1rem; */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #590995;
  color: white;
}


/* Pages CSS */
.heading{
  width: 100%;
  text-align: center;
  /* padding-left: 2rem; */
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  /* padding-right: 2rem; */
  font-weight: bolder;
  font-size: 3rem;
  animation-name: fade_in;
  animation-duration: 3s;
  display: inline-block;
  background-color: rgb(143, 142, 142);
  height: auto;
}

.paragraph{
  display: block;
  padding: 1rem;
  font-size: 1rem;
  background-color: #9CC3D5FF;
  height: var(--height);
  resize: both;
  margin-top: 1rem;
  /* overflow: auto; */
}

.hide_section{
  /* visibilty: hidden -  used to make div on page not take space on page when other div is being shown */
  position: absolute; 
  animation-name: fade_out;
  animation-duration: 3s;
  height: -100px;
  width: -100px;
}

.back_button{
  float: left;
  margin-left: 2rem;
  height: 3rem;
  color: #333;
  box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
  border: 1px solid orange;
  animation-name: spin_button;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.span_button{
  animation-name: spin_text;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#loader{
  border: 1.6rem solid wheat;
  border-radius: 50%;
  border-top: 1.6rem solid blue;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

/* About page css */
.me{
  width: 350px;
  height: 450px;
  border-radius: 20%;
  margin-right: 0rem;
  padding-right: 0rem;
}

.About_text{
  padding-bottom: 0.95rem;
  font-size: 1.3rem;
}

/* Experience page */
.SI_img{
  width: 350px;
  height: 450px;
}

.experience_text{
  font-size: 1.3rem;
}

/* Langauge page css */
#bar_border{
  height: var(--bar_height);
  width: var(--bar_width);
  border:  0.3rem solid black;
  margin: 1rem;
}

.bar_fill{
  display: block;
  height: var(--bar_height);
  background-color: deeppink;
  width: 0%;
  /* width: 80%; */
  animation-duration: 2s;
}

.bar_position{
  position: absolute;
  top: var(--top_position);
  right: var(--right_position);
  right: calc();
  width: 20%;
}

.langauge_text{
  background-color: honeydew;
  margin-left: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 1rem;
  padding-left: 0rem;
}

/* Reference page css */
.reference{
  max-width: 50%;
  width: 180px;
  height: 200px;
}

/* Interest page css */
.api_information{
  font-size: 2rem;
  background-color: #66b2b2;
  padding: 0.5rem;
}

.background_api{
  background-color: #ffffff98;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

.game_img{
  width: 300px;
  height: 150px;
  float: right;
  padding-left: 5rem;
}

.git_img{
  width: 20%;
  height: 10rem;
  float: left;
  padding-left: 1rem;
  padding-top: 1rem;
}

.space_img{
  max-width: 80%;
  max-height: 40%;
  padding-top: 1rem;
}

/* Download page */
.download_img{
  width: 20rem;
  height: 30rem;
}

.download_img:hover{
  opacity: 0.5;
}

.download_div{
  /* float: inline-start; */
  padding-left: 1rem;
  padding-right: 1rem;
}
@keyframes fade_in{
  0%  {opacity: 0;}
  10% {opacity: 0.1;}
  20% {opacity: 0.2;}
  30% {opacity: 0.3;}
  40% {opacity: 0.4;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  70% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1;}
}

@keyframes bar_load{
  0%  {width: 0}
  10% {width: calc(var(--percent)*0.1);}
  20% {width: calc(var(--percent)*0.2);}
  30% {width: calc(var(--percent)*0.3);}
  40% {width: calc(var(--percent)*0.4);}
  50% {width: calc(var(--percent)*0.5);}
  60% {width: calc(var(--percent)*0.6);}
  70% {width: calc(var(--percent)*0.7);}
  80% {width: calc(var(--percent)*0.8);}
  90% {width: calc(var(--percent)*0.9);}
}

@keyframes fade_out{
  0%  {opacity: 1;}
  10% {opacity: 0.9;}
  20% {opacity: 0.8;}
  30% {opacity: 0.7;}
  40% {opacity: 0.6;}
  50% {opacity: 0.5;}
  60% {opacity: 0.4;}
  70% {opacity: 0.3;}
  80% {opacity: 0.2;}
  90% {opacity: 0.1;}
  100% {opacity: 0;}
}

@keyframes spin_button{
  from{transform: rotateY(0deg);}
  to{transform: rotateY(360deg);}
}

@keyframes spin_text{
  from{transform: rotateY(0deg);}
  to{transform: rotateY(360deg);}
}